
@import url("https://fonts.googleapis.com/css2?family=Genos:wght@100&family=Rubik+Iso&family=Ubuntu:wght@300&display=swap");

$darker-blue: rgb(1, 1, 53);
$dark-blue: rgb(1, 1, 103);
$main-container-background-color: #66736F;
$main-container-background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%230a1508' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%230e180c' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%230a1508' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%230e180c' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23111A10' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23303030' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23393939' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23434343' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23393939' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23303030' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23434343' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23303030' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23434343' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23393939' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23434343' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");

html, body {
  overflow: hidden;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 1;
}

body {
  width: 100%;
  background-color: rgb(1, 1, 53);
  color: rgb(235, 230, 255);
  font-family: "Ubuntu", sans-serif;
  font-size: 1.25rem;
  padding: 2%;
}

h1 {
  font-size: 6rem;
  font-family: "Rubik Iso", sans-serif;
}

h1 + p {
  font-size: 2rem;
  font-family: "Genos", cursive;
}

.options {
  position: absolute;
  padding: 1rem;
  top: 0;
  left: 0;
}
#options

.container {
  position: relative;
  height: 95svh;
  width: 95vw;
  background: rgb(2,0,36);
  background: linear-gradient(48deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 47%, rgba(0,212,255,1) 93%); 
  border-radius: 0 100px 100px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-button {
  height: min(20vh, 5rem);
  width: min(80vw, 20rem);
  margin-bottom: 1rem;
  position: absolute;
  bottom: 0;
}

#bus1 {
  position: relative;
  z-index: 0;
  transform-origin: 160%;
  animation-name: rotation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear ;
}
#bus2 {
  position: relative;
  z-index: 0;
  transform-origin: -500%;
  animation-name: rotation2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotation{
  100%{transform:rotate(360deg)}
}
@keyframes rotation2{
  100%{transform:rotate(-360deg)}
}

/*# sourceMappingURL=styles.css.map */
